/* You can add global styles to this file, and also import other style files */
:root {
  --color-red: #f44261;
  --color-orange: #f97216;
  --color-yellow: #f59e0b;
  --color-gray: #f3f4f6;
  --color-pink: #f473b6;
  --color-gray-dark: #6b7380;
  --color-turqoise: #06b6d4;
  --color-purple: #8b5cf6;
  --color-blue-light: #0ea5e9;
  --color-blue: #3b82f6;
  --color-green: #10b981;
  --color-gree-aqua: #10b981;
  --color-black-light: #4b5563;
  --color-gray-dark-separator: #f1f1f1;
  --color-black: #121212;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/inter-regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
}
